# GitHub OAuth
GITHUB_CLIENT_ID=your_github_client_id_here
GITHUB_CLIENT_SECRET=your_github_client_secret_here
REDIRECT_URL=http://localhost:3000/auth/github/callback
FRONTEND_URL=http://localhost:5173
COOKIE_DOMAIN=example.com

# Database
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=rustytime
POSTGRES_HOST=localhost
# DATABASE_URL=postgres://username:password@localhost/rustytime (database url override for the backend)

# Backend
PORT=3000 # Backend port
PRODUCTION=false # Is production environment
USE_CLOUDFLARE=false # Use Cloudflare IP Resolver
RUST_LOG=info # Log level
